<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the Device Loan System</h1>
    <div class="button-container">
    <a href="{{ url_for('loan') }}">
        <button class="btn green">Loan Device</button>
    </a>
    <a href="{{ url_for('return_device') }}">
        <button class="btn red">Return Device</button>
    </a>
    <a href="{{ url_for('admin') }}">
        <button class="btn blue">Admin Panel</button>
    </a>
</div>
</body>
</html>
