<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Loan Device</title>
</head>
<body>
    <h1>Loan a Device</h1>
    <form method="post">
        <input name="name" placeholder="Name" required><br>
        <input name="surname" placeholder="Surname" required><br>
        <input name="email" placeholder="Email" required><br>
        <select name="device" required>
            {% for id, name in devices %}
            <option value="{{ id }}">{{ name }}</option>
            {% endfor %}
        </select><br>
        <button class="btn green" type="submit">Loan</button>
    </form>
    <a href="{{ url_for('index') }}">
        <button class="btn blue">Back</button>
    </a>
</body>
