<!DOCTYPE html>
<html>
<head>
    <title>Loan Device</title>
    <link relr(
</head>
<body>
    <h2>Loan Device(s)</h2>
    <form method="POST">
        Full Name: <input type="text" name="full_name" required><br>
        Email: <input type="email" name="email" required><br>
        Select Devices:<br>
        {% for device in devices %}
            <input type="checkbox" name="device_ids" value="{{ device.id }}"> {{ device.type }} ({{ device.id }})<br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>
