
<!DOCTYPE html>
<html>
<head>
    <title>Loan Device</title>
</head>
<body>
    <h2>Loan a Device</h2>
    <form method="POST">
        Name: <input type="text" name="name"><br>
        Surname: <input type="text" name="surname"><br>
        Email: <input type="email" name="email"><br>
        Device Type: <select name="device_type" id="device_type"></select><br>
        Available Devices: <select name="device_id" id="device_id"></select><br>
        <button type="submit" style="background-color:green;color:white;">Loan</button>
    </form>
</body>
</html>
